customtkinter
psutil
pillow
plyer
requests
tk
pygame
pyautogui
numpy
opencv-python
pyshorteners
cryptography
pyperclip
keyboard
googletrans==4.0.0rc1
simpleaudio
virtualenv
Pygments
vtk
SpeechRecognition
pyaudio
faker
pywin32
GPUtil